* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #282828; 
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:14px;
	line-height:1.4em}
	
a {
	color:#0069a5}

p {
	font-size: 1.1em;
	line-height: 1.6em;
	color: #fff;
	padding-left: 40px;
	padding-right: 40px;
}


ul {
	margin:5px 0 25px 35px;
	padding-left:40px;
    padding-right:40px;
	list-style-type: square;}
	
ol {
	margin:5px 0 25px 35px;	
	padding-left:40px;
    padding-right:40px;
	list-style-type:upper-roman}

ul li, ol li {
	margin-bottom:10px;
	}

ul, li, ol {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;}

h1,h2{
	font-weight:bold;
	font-family: Calibri, sans-serif;}
	
h1 div{ padding: 10px;
background: #6386ad; /* Old browsers */
background: -moz-linear-gradient(top, #6386ad 0%, #52718c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6386ad), color-stop(100%,#52718c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #6386ad 0%,#52718c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #6386ad 0%,#52718c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #6386ad 0%,#52718c 100%); /* IE10+ */
background: linear-gradient(to bottom, #6386ad 0%,#52718c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6386ad', endColorstr='#52718c',GradientType=0 ); /* IE6-9 */ }
	
h1{
	font-size:28px;
	line-height:33px;
	color:#fff;
	text-shadow:#234869 0px 1px 1px;
	letter-spacing:0;}	
h2{
	font-size:20px;
	line-height:19px;
	margin-bottom:15px;
	text-shadow:#234869 0px 1px 1px;}
	
h2 a{
	color:#000;
	text-shadow:#fff 0px 1px 1px;}

.faq{ /*header of 1st demo*/
padding: 2px 5px;
}

.opentab{ /*class added to contents of 1st demo when they are open*/
padding-left: 25px; padding-top:5px; padding-bottom:5px;
background: #c6cfd6; /* Old browsers */
background: -moz-linear-gradient(top, #c6cfd6 0%, #b5bebd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6cfd6), color-stop(100%,#b5bebd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #c6cfd6 0%,#b5bebd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #c6cfd6 0%,#b5bebd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #c6cfd6 0%,#b5bebd 100%); /* IE10+ */
background: linear-gradient(to bottom, #c6cfd6 0%,#b5bebd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6cfd6', endColorstr='#b5bebd',GradientType=0 ); /* IE6-9 */
color: #000;
text-shadow:#fff 0px 1px 1px;
}

.closetab{ /*class added to contents of 1st demo when they are open*/
height:25px; padding-left: 25px; padding-top:5px; margin-top:-5px;
background: #4C4C4C; /* Old browsers */}

p img{
    max-width: 100%;
}